/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #efefef; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

.dx-datagrid-rowsview {
  height: 300px !important;
  overflow-y: scroll !important;

  .dx-datagrid-rowsview::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
    opacity: 0.5;
  }

  .dx-datagrid-rowsview::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 5px; /* roundness of the scroll thumb */
  }
}
