#dashboard_view {
  height: calc(100% - 60px);
  background-color: #e7e7e7;  
  overflow: auto;
}

.widget {
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, 0.2);
  border-radius: 0px;
  .widget-title {
    font-size: 16px;
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
  }
  margin-left: 0.5%;
  margin-top: 0.5%;
  height: 450px;
  float: left;
}

#view_map {
  width: 54%;
  float: left;
}

#view_mortality{
  width: 44.5%;
  float:left;
}

#view_hospitalization, #view_rawdata{
  width: 99%;
  float: left;
}

#view_rawdata{
  height: 530px;
  margin-bottom: 0.5%;
}