<div id="dashboard_view">
  <div class="data-container">

    <mat-card id="filters">
      <mat-card-content>
        <mat-form-field appearance="fill" class="app-dropdown">
          <mat-label>States</mat-label>
          <mat-select multiple [(ngModel)]="model_repo.states_selected" (selectionChange)="stateSelected()">
            <mat-option *ngFor="let state of states_dropdown_list" [value]="state.id">
              {{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="app-dropdown">
          <mat-label>Counties</mat-label>
          <mat-select multiple [(ngModel)]="model_repo.counties_selected" (selectionChange)="countySelected()">
            <mat-option *ngFor="let county of counties_data" [value]="county.id">
              {{county.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <span class="slide-history">
          <mat-slide-toggle>Historical Data</mat-slide-toggle>
        </span>

      </mat-card-content>
    </mat-card>

    <mat-card id="view_map" class="widget">
      <mat-card-title class="widget-title">COVID Spread across States</mat-card-title>
      <mat-card-content>
        <div id="widget_map_view"></div>
      </mat-card-content>
    </mat-card>

    <mat-card id="view_mortality" class="widget">
      <mat-card-title class="widget-title">Mortality Rate</mat-card-title>
      <mat-card-content>
        <div id="widget_mortality"></div>
      </mat-card-content>
    </mat-card>

    <mat-card id="view_hospitalization" class="widget">
      <mat-card-title class="widget-title">Hospitals Beds Availability</mat-card-title>
      <mat-card-content>
        <div id="widget_hospitalization"></div>
      </mat-card-content>
    </mat-card>

    <mat-card id="view_rawdata" class="widget">
      <mat-card-title class="widget-title">COVID data</mat-card-title>
      <mat-card-content>
        <dx-data-grid id="gridContainer" [dataSource]="rawData" [remoteOperations]="false"
          [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true">
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
          <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

          <dxi-column dataField="StateName" dataType="string" *ngIf="flags_repo.viewTypeStates != 'counties'">
          </dxi-column>
          <dxi-column dataField="county_name" dataType="string" *ngIf="flags_repo.viewTypeStates == 'counties'">
          </dxi-column>
          <dxi-column dataField="population" dataType="number"></dxi-column>
          <dxi-column dataField="cases" dataType="number"></dxi-column>
          <dxi-column dataField="deaths" dataType="number"></dxi-column>
          <dxi-column dataField="PositiveTests" dataType="number"></dxi-column>
          <dxi-column dataField="NegativeTests" dataType="number"></dxi-column>
          <dxi-column dataField="HospitalBeds_Capacity" dataType="number"></dxi-column>
          <dxi-column dataField="HospitalBeds_CurrentUsageTotal" dataType="number"></dxi-column>
          <dxi-column dataField="HospitalBeds_CurrentUsageCovid" dataType="number"></dxi-column>
          <dxi-column dataField="HospitalBeds_weeklyCovidAdmissions" dataType="number"></dxi-column>
          <dxi-column dataField="VaccinationsInitiated" dataType="number"></dxi-column>
          <dxi-column dataField="VaccinationsCompleted" dataType="number"></dxi-column>
          <dxi-column dataField="VaccinationsAdditionalDose" dataType="number"></dxi-column>

        </dx-data-grid>
      </mat-card-content>
    </mat-card>

  </div>
</div>
